/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
    --white: #fff;
    --black: #222;
    --green: #6cbe02;
    --grey1: #f0f0f0;
    --grey2: #e9d7d3;
}

button:active,
button:focus {
    transform: none !important; /* Hapus efek pembesaran */
    box-shadow: none !important; /* Hapus efek bayangan */
}
.btn:active,
.btn:focus {
    transform: none !important;
    box-shadow: none !important;
}

.card-transaction {
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
.transaction-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.transaction-header .status-completed {
    background-color: #d4f4d4;
    color: #2c7a2c;
    padding: 5px 10px;
    border-radius: 5px;
}
.transaction-header .invoice {
    font-size: 12px;
    color: #888;
}
.transaction-body {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.transaction-body img {
    border-radius: 5px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.transaction-body .item-info {
    margin-left: 15px;
    flex-grow: 1;
}
.transaction-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.transaction-footer .total {
    font-size: 16px;
    font-weight: bold;
}
.transaction-footer button {
    margin-left: 10px;
}



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

footer {
    z-index: 9;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(--black);
    font-weight: 400;
    font-style: normal;
}

a {
    font-size: small;
    text-decoration: none;
    color: var(--black);
    font-family: "Roboto", sans-serif;
}

li {
    list-style: none;
}

.container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.d-flex {
    display: flex;
    align-items: center;
}

.kanan {
    border-right: #18bfab solid 1px;
}

.mh {
    max-height: 40px;
}

/*
=================
Navigation
=================
*/
.navigation {
    height: max-content;
    max-height: 75px;
    line-height: 6rem;
    position: fixed; /* Make the navbar stick to the top */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures it stays above other content */
    background-color: var(--white); /* You may want to set a background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a slight shadow for better visibility */
}

.nav-center {
    justify-content: space-between;
}

.nav-list .icons {
    display: none;
}

.nav-center .nav-item:not(:last-child) {
    margin-right: 0.5rem;
}

.nav-center .nav-link {
    font-size: 1.4rem;
    padding: 1rem;
}

.nav-center .nav-link:hover {
    color: var(--green);
}

.nav-center .hamburger {
    display: none;
    font-size: 2.3rem;
    color: var(--black);
    cursor: pointer;
}

/* Icons */

.icon {
    cursor: pointer;
    font-size: 2rem;
    padding: 0 1rem;
    color: #555;
    position: relative;
}

.icon:not(:last-child) {
    margin-right: 0.5rem;
}

.icon span {
    position: absolute;
    top: 3px;
    right: -3px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 50%;
    font-size: 1.3rem;
    height: 2rem;
    width: 2rem;
    justify-content: center;
}
/*========================== Dropdown =========================================================*/

.popup {
    --burger-line-width: 1.125em;
    --burger-line-height: 0.125em;
    --burger-offset: 0.625em;
    --burger-bg: rgba(0, 0, 0, 0.15);
    --burger-color: #333;
    --burger-line-border-radius: 0.1875em;
    --burger-diameter: 2.125em;
    --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
    --burger-line-transition: 0.3s;
    --burger-transition: all 0.1s ease-in-out;
    --burger-hover-scale: 1.1;
    --burger-active-scale: 0.95;
    --burger-enable-outline-color: var(--burger-bg);
    --burger-enable-outline-width: 0.125em;
    --burger-enable-outline-offset: var(--burger-enable-outline-width);
    /* nav */
    --nav-padding-x: 0.25em;
    --nav-padding-y: 0.625em;
    --nav-border-radius: 0.375em;
    --nav-border-color: #ccc;
    --nav-border-width: 0.0625em;
    --nav-shadow-color: rgba(0, 0, 0, 0.2);
    --nav-shadow-width: 0 1px 5px;
    --nav-bg: #ffffff;
    --nav-font-family: Menlo, Roboto Mono, monospace;
    --nav-default-scale: 0.8;
    --nav-active-scale: 1;
    --nav-position-left: 0;
    --nav-position-right: unset;
    /* if you want to change sides just switch one property */
    /* from properties to "unset" and the other to 0 */
    /* title */
    --nav-title-size: 0.625em;
    --nav-title-color: #777;
    --nav-title-padding-x: 1rem;
    --nav-title-padding-y: 0.25em;
    /* nav button */
    --nav-button-padding-x: 1rem;
    --nav-button-padding-y: 0.375em;
    --nav-button-border-radius: 0.375em;
    --nav-button-font-size: 12px;
    --nav-button-hover-bg: #28a745;
    --nav-button-hover-text-color: #fff;
    --nav-button-distance: 0.875em;
    /* underline */
    --underline-border-width: 0.0625em;
    --underline-border-color: #ccc;
    --underline-margin-y: 0.3125em;
}

.popup {
    display: inline-block;
    text-rendering: optimizeLegibility;
    position: relative;
}

.popup input {
    display: none;
}

.popup-window {
    transform: scale(var(--nav-default-scale));
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: var(--nav-padding-y) var(--nav-padding-x);
    background: var(--nav-bg);
    font-family: var(--nav-font-family);
    color: var(--nav-text-color);
    border-radius: var(--nav-border-radius);
    box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
    border: var(--nav-border-width) solid var(--nav-border-color);
    top: calc(
        var(--burger-diameter) + var(--burger-enable-outline-width) +
            var(--burger-enable-outline-offset)
    );
    left: auto; /* Atur pop-up agar berada di sisi kiri */
    right: 0; /* Pastikan properti right dihapus atau diatur auto */
    transition: var(--burger-transition);
}

.popup-window legend {
    padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
    margin: 0;
    color: var(--nav-title-color);
    font-size: var(--nav-title-size);
    text-transform: uppercase;
}

.popup-window ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.popup-window ul button {
    outline: none;
    width: 100%;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    color: var(--burger-color);
    font-size: var(--nav-button-font-size);
    padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
    white-space: nowrap;
    border-radius: var(--nav-button-border-radius);
    cursor: pointer;
    column-gap: var(--nav-button-distance);
}

.popup-window ul li:nth-child(1) svg,
.popup-window ul li:nth-child(2) svg {
    color: cornflowerblue;
}

.popup-window ul li:nth-child(4) svg,
.popup-window ul li:nth-child(5) svg {
    color: rgb(153, 153, 153);
}

.popup-window ul li:nth-child(7) svg {
    color: red;
}

.popup-window hr {
    margin: var(--underline-margin-y) 0;
    border: none;
    border-bottom: var(--underline-border-width) solid
        var(--underline-border-color);
}

/* actions */

.popup-window ul button:hover,
.popup-window ul button:focus-visible,
.popup-window ul button:hover svg,
.popup-window ul button:focus-visible svg {
    color: var(--nav-button-hover-text-color);
    background: var(--nav-button-hover-bg);
}

.burger:hover {
    transform: scale(var(--burger-hover-scale));
}

.burger:active {
    transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
    outline-color: var(--burger-enable-outline-color);
    outline-offset: var(--burger-enable-outline-offset);
}

.popup input:checked + .burger span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.popup input:checked + .burger span:nth-child(2) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.popup input:checked + .burger span:nth-child(3) {
    transform: translateX(
        calc(var(--burger-diameter) * -1 - var(--burger-line-width))
    );
}

.popup input:checked ~ nav {
    transform: scale(var(--nav-active-scale));
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .nav-list {
        position: fixed;
        top: 12%;
        left: -35rem;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        background-color: white;
        height: 100%;
        width: 0%;
        max-width: 35rem;
        z-index: 100;
        transition: all 300ms ease-in-out;
    }

    .nav-list.open {
        left: 0;
        width: 100%;
    }

    .nav-list .nav-item {
        margin: 0 0 1rem 0;
        width: 100%;
    }

    .nav-list .nav-link {
        font-size: 1rem;
        color: var(--black);
    }

    .nav-center .hamburger {
        display: block;
        color: var(--black);
        font-size: 3rem;
    }

    .icons {
        display: none;
    }

    .nav-list .icons {
        display: flex;
    }

    .top-nav ul {
        display: none;
    }

    .top-nav div {
        justify-content: center;
        height: 3rem;
    }
}

.form-s button {
    border: none;
    background: none;
    color: #8b8ba7;
}

.form-s {
    --timing: 0.3s;
    --width-of-input: 400px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #f0f0f0;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg, #dcdcdc);
}

.input {
    font-size: 1.3rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.6em;
    padding-block: 0.9em;
    border: none;
}

.form-s:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}

.form-s:focus-within {
    border-radius: var(--after-border-radius);
}

input:focus {
    outline: none;
}

.form-s:focus-within:before {
    transform: scale(1);
}
.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}
input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
}
.form-s svg {
    width: 17px;
    margin-bottom: 3px;
}

/* From Uiverse.io by spj2401Dev */
.button-group {
    flex-grow: 1;
    margin: auto;
}

.button-group input[type="radio"] {
    display: none;
}

.button-group label {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #02a22f;
    background-color: #01ab31;
    color: white;
    border-radius: 15px;
    transition: all ease 0.2s;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    width: 90px;
    font-size: 13px;
    margin: 5px;
    box-shadow: 0px 0px 50px -15px #000000;
}

.button-group input[type="radio"]:checked + label {
    background-color: white;
    color: #01ab31;
    border: 1px solid #02a22f;
}

fieldset {
    border: 0;
    display: flex;
}

/* =========================================CHECKOUT============================================= */
.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.dropdown-toggle::after {
    margin-left: 10px;
}
/*=========================================CONTENT=============================================*/

.header {
    padding-top: 7rem !important;
    padding-bottom: 7.9rem;
}

.procard {
    max-width: 200px !important;
    border-radius: 24px;
}

.btn-white {
    background-color: white;
    color: #7d827e;
    border: 1px solid #7d827e;
    border-radius: 15px;
    transition: all ease 0.2s;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    width: 90px;
    font-size: 12px;
    margin: 10px 25px;
    box-shadow: 0px 0px 50px -15px #000000;
}

.btn-white:hover {
    transition: all ease 0.9s;
    background-color: #d3d3d3;
    color: rgb(52, 52, 52);
}

.category-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

.category-item {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.category-item:hover {
    transform: scale(1.05);
}

.category-item img {
    border-radius: 5px;
}

.category-item p {
    margin-top: 10px;
    font-weight: bold;
}
/*=========================================CONTENT=============================================*/

/*=========================================category=============================================*/

.t-products {
    background-image: linear-gradient(
        to right top,
        #5629c0,
        #5625cb,
        #5620d5,
        #551ae0,
        #5412eb
    );
    color: #fff;
    border-radius: 3px;
}

.processor {
    background-color: #fff;
    margin-top: 5px;
    border-bottom: 1px solid #eee;
}

.brand {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.type {
    background-color: #fff;
}

.product {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

.about span {
    color: #5629c0;
    font-size: 16px;
}

.cart-button button {
    font-size: 12px;
    color: #fff;
    background-color: #5629c0;
    height: 38px;
}

.cart-button button:focus,
button:active {
    font-size: 12px;
    color: #fff;
    background-color: #5629c0;
    box-shadow: none;
}

.product_fav i {
    line-height: 40px;
    color: #5629c0;
    font-size: 15px;
}

.product_fav {
    display: inline-block;
    width: 36px;
    height: 39px;
    background: #ffffff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 11%;
    text-align: center;
    cursor: pointer;
    margin-left: 3px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.product_fav:hover {
    background: #5629c0;
}

.product_fav:hover i {
    color: #fff;
}

.about {
    margin-top: 12px;
}

.off {
    position: absolute;
    left: 65%;
    top: 6%;
    width: 80px;
    text-align: center;
    height: 30px;
    line-height: 8px;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
/*=========================================category=============================================*/
/*Footer*/
/* From Uiverse.io by PapaUiiss404 */

.socialContainer {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(192, 144, 83);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
    max-height: 40px;
}
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: 0.3s;
}
/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
    background-color: #128c7e;
    transition-duration: 0.3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: 0.3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
/*=========================================category=============================================*/

.button-group {
    flex-grow: 1;
    margin: auto;
}

.button-group input[type="radio"] {
    display: none;
}

.button-group label {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #2b426d;
    background-color: #385c7e;
    color: white;
    border-radius: 15px;
    transition: all ease 0.2s;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    width: 90px;
    font-size: 13px;
    margin: 5px;
    box-shadow: 0px 0px 50px -15px #000000;
}

.button-group input[type="radio"]:checked + label {
    background-color: white;
    color: #02375a;
    border: 1px solid #2b426d;
}

fieldset {
    border: 0;
    display: flex;
}

.wish {
    top: 30%; /* Atur posisi vertikal ke 50% dari tinggi layar */
    left: 50%; /* Atur posisi horizontal ke 50% dari lebar layar */
    transform: translate(
        -50%,
        -50%
    ); /* Translasi untuk mengkompensasi ukuran elemen */
    width: 100%; /* Pastikan lebar elemen sesuai dengan kebutuhan */
    z-index: 0;
}

/*=========================================category=============================================*/
.box-shadow {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 20px;
    border-radius: 8px;
}
.label-badge {
    background-color: #e0e0e0;
    color: #333;
    font-size: 0.9rem;
    padding: 4px 8px;
    border-radius: 8px;
}
.small-text {
    font-size: 0.9rem;
    color: #555;
}
.divider {
    border-top: 1px solid #e9ecef;
    margin: 15px 0;
}
.text-mutedd {
    font-size: 0.85rem;
}

/* ==============================================AnimaTion=================================================== */

@keyframes rollIn {
    0% {
        transform: translateX(50vw) rotate(0deg);
        opacity: 0;
        scale: 0.4;
    }
    100% {
        transform: translateX(0) rotate(360deg);
        opacity: 1;
        scale: 1;
    }
}

@keyframes rotateInfinite {
    0% {
        transform: rotate(60deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes card-slider {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 0;
        transform: translateX(0);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        scale: 0;
    }
    80% {
        opacity: 1;
        scale: 1.5;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(30%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInBottom {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-bottom {
    animation: slideInBottom 1s ease-out;
}

.slide-in-right {
    animation: slideInRight 1s ease-out;
}

.slide-in-left {
    animation: slideInLeft 1s ease-out;
}

.slide-in-left2 {
    animation: slideInLeft 2s ease-in-out;
}

.rolling {
    animation: rollIn 2s ease-out forwards;
}

.rolling.done {
    animation: rsotateInfinite 30s linear infinite;
}

.card-ani {
    animation: card-slider linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.appear {
    animation: appear 1s ease-in-out;
}

/*================================= Preloader ======================================CSS */
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
        255,
        255,
        255,
        0.9
    ); /* Background semi-transparent */
    z-index: 9999; /* Pastikan di atas elemen lainnya */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* From Uiverse.io by satyamchaudharydev */
.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}
